@import "tailwindcss";

@theme {
    --color-primaryColor: #ff4d2d;
    --color-hoverColor: #e64323;
    --color-bgColor: #fff9f6;
    --color-borderColor: #ddd;
}

.Toastify__toast-container {
    position: fixed !important;
    z-index: 999999 !important;
    pointer-events: auto;
}

* {
    /* ya scroll */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge purane versions */
}

::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}